<div class="contanier">
    <div class="row md-12">
        <div class="col text-center">
            <h1>Basic Ngrx</h1>

            <h1>Count: {{count}} </h1>
            <button class="btn btn-outline-primary"(click)="
            Increament()" >Increment</button>
            <button class="btn btn-outline-info"(click)="
            decrement()" >Decrement</button>
            <button class="btn btn-outline-danger"(click)="
            reset()" >Reset</button>

        </div>
       
    </div>
</div>